{% extends '@layout/default.html.twig' %}

{% block title %}Test page{% endblock %}

{% block content %}
    <h1>Hello world</h1>

    {% if security %}
        User authenticated
    {% else %}
        User not authenticated
    {% endif %}
{% endblock %}
